__pycache__/
*.pyc

mods/*
!mods/.gitkeep
datapacks/*
!datapacks/.gitkeep

00_Total_Spawn_Blocker/
01_Unified_Spawns/
02_Final_Cleaned_Spawns/
03_Legendary_Protection/
04_Disable_Crafts/

ATLAS_POKEMON.txt
biome_database.json

.env
.DS_Store
Thumbs.db